h1{
color: blueviolet;
text-align: center;
font-family: cursive;

}

div{
    text-align: center;
    color: blueviolet;
}

body{
    background-color: black;
}
h4{
    color: blueviolet;
    text-align: left;
    font-family: cursive;
}
h5{
    color: blueviolet;
    text-align: left;
    font-family: cursive;
}